name: publish-latest

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: latest
          prerelease: true
          files: SortingChest.zip
